{% extends "base.html" %}
{% block content %}

<h1>{{ destination.name }}</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <p>Location: {{ destination.location }}</p>
                <p>Description: {{ destination.description }}</p>
            </div>
            <div class="card-action">
                <a href="{% url "destinations_update" destination.id %}">Edit</a>
                <a href="{% url "destinations_delete" destination.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <a href="{% url "comments_create" destination_id=destination.id%}">Add a Comment</a>
        <br>
        <table class="striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>TimeStamp</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in destination.comment_set.all %}
                    <tr>
                        <td>{{ comment.user }}</td>
                        <td>{{ comment.timestamp }}</td>
                        <td class="comment_comment">{{ comment.comment|truncatewords:30 }}<a href="{% url 'comments_detail' comment.id %}">show more</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}