{% extends "base.html" %}
{% block content %}

<h1>{{ destination.name }}</h1>
<div>
    <div align="right">
        <a href="{% url "destinations_update" destination.id %}">Edit</a> || 
        <a href="{% url "destinations_delete" destination.id %}">Delete</a>
    </div>
    <p>Location: {{ destination.location }}</p>
    <p>Description: {{ destination.description }}</p>
    {% for photo in destination.photo_set.all %}
      <div align="center"><img height="600" class="w-50 py-3" src="{{photo.url}}" alt="" > </div>
    {% empty %}
      <div class="text-primary bg-light" align="center"><br>No Photos Uploaded</div>
    {% endfor %}
    <div align="right" class="bg-light py-5">
        <form action="{% url 'add_photo' destination.id %}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <button class="btn btn-dark" type="submit">Upload Photo</button>
        </form>
    </div>
</div>
<br>
<div class="bg-light py-5">
    <h3>Comments</h3>
    <div align="center"><a href="{% url "comments_create" destination_id=destination.id%}">Add Comment</a></div>
    {% for comment in destination.comment_set.all %}
        <div class="ps-2">
            <p class="small mb-0 text-primary">{{ comment.timestamp }}</p>
            <h5>{{ comment.user }}</h5>
            <p class="text-muted text-sm mb-2">{{ comment.comment|truncatewords:30 }}</p>
            <a class="reset-anchor text-sm" href="{% url 'comments_detail' comment.id %}">
                <i class="fas fa-share me-2 text-primary"></i><strong>show more</strong>
            </a>
            <br/>&nbsp;<br/>
        </div>
    {% endfor %}
</div>
{% endblock %}