{% extends "base.html" %}
{% block content %}

<h1>{{ destination.name }}</h1>
<div>
    <p>Location: {{ destination.location }}</p>
    <p>Description: {{ destination.description }}</p>
</div>
<div align="right">
    <a href="{% url "destinations_update" destination.id %}">Edit</a> || 
    <a href="{% url "destinations_delete" destination.id %}">Delete</a>
</div>
<div>
    <h3>Comments</h3>
    <div align="center"><a href="{% url "comments_create" destination_id=destination.id%}">Add Comment</a></div>
    {% for comment in destination.comment_set.all %}
        <div class="ps-2">
            <p class="small mb-0 text-primary">{{ comment.timestamp }}</p>
            <h5>{{ comment.user }}</h5>
            <p class="text-muted text-sm mb-2">{{ comment.comment|truncatewords:30 }}</p>
            <a class="reset-anchor text-sm" href="{% url 'comments_detail' comment.id %}">
                <i class="fas fa-share me-2 text-primary"></i><strong>show more</strong>
            </a>
        </div>
    {% endfor %}
    
</div>
{% endblock %}