{% extends "base.html" %}
{% block content %}

<div class="container pb-4">
  <header class="text-center mb-5">
    <h1>Gallery</h1>
  </header>
  <div class="row">
    {% for photo in photo_list %}
    <div class="col-lg-3 col-md-6 px-md-1 py-1">
      <a class="instagram-item d-block w-100 reset-anchor text-white" href="{% url 'destinations_detail' photo.destination.id %}">
        <img class="img-fluid img-thumbnail" src="{{ photo.url}}" alt="">
        <div class="instagram-item-overlay p-5">
          <h4>Visit {{photo.destination.name}}.</h4>
        </div>
      </a>
      <p>{{ photo.caption }}</p>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}