{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Exploring Earth</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="{% static 'css/vendor/swiper/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="{% static 'css/style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
  </head>
  <body>
    <header class="header">
      <div class="py-2 bg-dark text-white">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-lg-4">
              <ul class="list-inline mb-0 text-sm">
                <li class="list-inline-item"><a class="reset-anchor" href="{% url 'about' %}">About us</a></li>
                <li class="list-inline-item">|</li>
                <li class="list-inline-item"><a class="reset-anchor" href="{% url 'signup' %}">Sign Up</a></li>
               
              </ul>
            </div>
            <div class="col-lg-4 d-none d-lg-block text-center">
              <ul class="list-inline mb-0 small">
                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-youtube"></i></a></li>
                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-vimeo-v"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-4 d-none d-lg-block text-end">
              <ul class="list-inline mb-0 text-sm">
                {% if user.is_superuser %}
                <li class="list-inline-item"><a class="reset-anchor" href="/admin">Admin</a></li>
                <li class="list-inline-item">|</li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="list-inline-item"><a class="reset-anchor" href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="list-inline-item"><a class="reset-anchor" href="{% url 'login' %}">Login</a></li>
                {% endif %}
              </ul>              
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light bg-white py-4">
        <div class="container text-center">
          <a class="navbar-brand mx-auto" href="/about"><img  src="{% static 'img/logo.jpg' %}" alt="" width="400"></a></div>
      </nav>
      <nav class="navbar navbar-expand-lg navbar-light border-gray py-2 bg-light">
        <div class="container">
          <div class="navbar-collapse collapse show" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item px-1">
                <a class="nav-link" href="/">Home</a>
              </li>
              {% if user.is_superuser %}
              <li class="nav-item px-1">
                <a class="nav-link" href="{% url 'destinations_create' %}">Add Destination</a>
              </li>
              {% endif %}
              <li class="nav-item px-1">
                <a class="nav-link" href="{% url 'destinations_list' %}">Destinations</a>
              </li>
              <li class="nav-item px-1">
                <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="pt-5">
     <main class="container">
      {% block content %}
      {% endblock %}
      </main>
    </section>
    <br/><br/><br/><br/>
    <footer class="bg-dark py-4">
      <div class="container">
        <div class="row py-2 gy-2">
          <div class="col-lg-4 text-center text-lg-start">
            <p class="small text-muted text-uppercase mb-0">&copy; copyright 2023 - all rights reserved</p>
          </div>
          <div class="col-lg-4 text-center">
            <ul class="list-inline text-white small mb-0">
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-twitter"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-youtube"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-vimeo-v"></i></a></li>
            </ul>
          </div>
          <div class="col-lg-4 text-center text-lg-end">
            <p class="small text-muted text-uppercase mb-0">Exploring Earth ! </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'css/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/front.js' %}"></script>
    <script>
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </body>
</html>