{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Featured Destinations</h1>        
<div class="swiper destinations-slider swiper-padding">
    <div class="swiper-wrapper">
        {% for destination in destinations %}
        <div class="swiper-slide h-auto">
            <a class="destination d-flex align-items-end bg-center bg-cover" href="{% url 'destinations_detail' destination.id %}" style="background: url({{destination.photo_set.first.url}})">
                <div class="destination-inner w-100 text-center text-white index-forward has-transition">
                    <h2 class="h3 mb-4">
                    {{destination.name}}
                    </h2>
                    <p class="small text-uppercase mb-3"> 
                    {{destination.location}}
                    </p>
                    <div class="btn btn-primary w-100 destination-btn text-white">Discover</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="swiper-button-prev swiper-custom-nav text-uppercase letter-spacing-0">
        <svg class="svg-icon svg-icon me-1">
          <use xlink:href="#arrow-left-1"> </use>
        </svg>
        <span class="text-sm">Prev</span>
    </div>
    <div class="swiper-button-next swiper-custom-nav text-uppercase letter-spacing-0">
        <span class="text-sm">Next</span>
        <svg class="svg-icon svg-icon ms-1">
            <use xlink:href="#arrow-right-1"> </use>
        </svg>
    </div>
</div>
{% endblock %}
